.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: transparent;
    height: auto;
    padding: 20px;
    color: #000000;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.App-header ul, ul li{
    display: table-cell;
    list-style-type: none;
    padding: .5em;
    margin: .2em;
}
.App-header ul{
    float: right;
}
.App-header li:hover{
    background-color: #eaeaea;
    border-radius: 2px;
}
.App-header a {
    color: black;
    text-decoration: none;
}