*{
    box-sizing: border-box;
}
.container {
    max-width: 100vw;
    padding: 10px;
}
body{
    /*background: url("Queen-Elizabeth-National-Park1.jpg") no-repeat fixed;*/
    background-size: cover;
}

section {
    position: fixed;
    top: 0;
    background-color: #329675;
    width: 98%;

}